<ul class="nupud">

    <li>
        <a href="mailto:annegretemolloka@gmail.com" aria-label="Email">
            <i class="fa fa-envelope"></i>
        </a>
    </li>

    <li>
        <a href="https://github.com/annegretepeek" aria-label="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
    </li>

    <li>
        <a href="https://www.linkedin.com/in/annegrete-molloka-20b9aba7/" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </li>

</ul>