<header class="{% if page.header_style == 'transparent' %}header-transparent{% else %}header-solid{% endif %}">

<nav class="navbar">

    <a class="logo" href="{{ '/' | relative_url }}">
        Annegrete Molloka
    </a>

    <ul class="menu">

        <li>
            <a href="{{ '/#konsultatsioon' | relative_url }}">
                Konsultatsioon
            </a>
        </li>

        <li>
            <a href="{{ '/blog/' | relative_url }}">
                Blogi
            </a>
        </li>

        <li>
            <a href="{{ '/rakendused/' | relative_url }}">
                Rakendused
            </a>
        </li>

        <li>
            <a href="{{ '/#kontakt' | relative_url }}">
                Kontakt
            </a>
        </li>

    </ul>

</nav>

</header>