<article class="post-summary">

    <h2 class="post-title">
        <a href="{{ include.post.url | relative_url }}">
            {{ include.post.title }}
        </a>
    </h2>

    <p class="post-date">
        {{ include.post.date | date: "%d.%m.%Y" }}
    </p>

    <div class="post-summary-body{% unless include.post.image %} no-image{% endunless %}">

        {% if include.post.image %}
        <a class="post-summary-image-link" href="{{ include.post.url | relative_url }}">
            <img
                class="post-summary-image"
                src="{{ include.post.image | relative_url }}"
                alt="{{ include.post.title }}">
        </a>
        {% endif %}

        <div class="post-summary-text">

            <p class="post-excerpt">
                {{ include.post.content
                    | strip_html
                    | normalize_whitespace
                    | truncate: 300 }}
            </p>

            <p class="read-more-wrapper">
                <a class="read-more"
                   href="{{ include.post.url | relative_url }}">
                    loe edasi
                </a>
            </p>

        </div>

    </div>

</article>
