<!doctype html>
<html lang="et">

<head>

    {% include head.html %}

</head>
<script src="{{ '/assets/js/external-links.js' | relative_url }}"></script>
<body>

    {% unless page.hide_header %}
    {% include header.html %}
    {% endunless %}

    {{ content }}

    <script>
        window.addEventListener("scroll", function () {
            const siteHeader = document.querySelector("header");
            if (siteHeader) {
                siteHeader.classList.toggle("scrolled", window.scrollY > 50);
            }
        });
    </script>

</body>

</html>